BasedOnStyle:  Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: false
BreakBeforeBraces: Custom
AlignEscapedNewlinesLeft: false
AllowShortFunctionsOnASingleLine: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
PenaltyReturnTypeOnItsOwnLine: 200
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: No
AlwaysBreakTemplateDeclarations: No
BreakBeforeBinaryOperators: true
BreakBeforeTernaryOperators: true
ContinuationIndentWidth: 4
# AlignEscapedNewlines: DontAlign
BinPackArguments: false
SortIncludes: true
Cpp11BracedListStyle: false
SpaceBeforeParens: ControlStatementsExceptControlMacros
